.main-nav{
    min-height: 50px;
    width: 100%;
    margin:  0% auto;
    border-top: solid 3px #364cef;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index:  5;
    top: 0%;
    left: 0%;
    background-color: #f8f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 1.5rem;

}
.navbar ul{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    list-style-type: none;
}
.navbar ul a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
}

.navbar a:hover{
    background-color: rgb(200, 200, 200);
}
.auth{
   display: flex;
   justify-content: flex-end;
   gap: 2rem;
   align-items: center;
}
.auth a{
   text-decoration: none;
   padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
}
.auth a:hover{
    background-color: #d3e4eb;
    

 }
.auth button{
    padding: 7px 13px;
    border: solid 1px blue;
    border-radius: 3px;
    background-color: #e7f8fe;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.auth button:hover{
    background-color: #d3e4eb;
}